li {
    list-style-type: none;
}

:checked + label {
    text-decoration-line: line-through;
    
}

.archived label{
    color: gray;
}

section {
    width: auto !important;
    margin: 2% 10% !important;
}